@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Recuperar Contraseña</h3></div>
                            <div class="card-body">
                                <div class="small mb-3 text-muted">Ingrese su dirección de correo electrónico y le enviaremos un enlace para restablecer su contraseña.</div>
                                <form method="post">
                                    <div class="form-group">
                                        <label asp-for="Input.Email" class="small mb-1" for="inputEmailAddress">Email</label>
                                        <input asp-for="Input.Email" class="form-control py-4" required="required" id="inputEmailAddress" type="email" aria-describedby="emailHelp" placeholder="Ingrese Correo Electrónico" />
                                    </div>
                                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <input class="btn btn-Cafe" type="submit" value="Restablecer contraseña" />
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center">
                                <div class="small">@Html.ActionLink("¿Necesitas una cuenta? Registrate!", "Registro", "Registrar", null, new { @class = "page-scroll" })</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
