@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Crear Cuenta</h3></div>
                            <div class="card-body">
                                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Input.Name">Nombres</label>
                                                <input placeholder="Ingrese sus nombres" asp-for="Input.Name" class="form-control" />
                                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Input.LastName">Apellidos</label>
                                                <input placeholder="Ingrese sus apellidos" asp-for="Input.LastName" class="form-control" />
                                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Input.Email">Correo electrónico</label>
                                        <input placeholder="Digite el correo electrónico" asp-for="Input.Email" class="form-control" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Input.Password">Contraseña</label>
                                                <input placeholder="Digite una contraseña" asp-for="Input.Password" class="form-control" />
                                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Input.ConfirmPassword">Confirmar Contraseña</label>
                                                <input placeholder="Confirme la contraseña" asp-for="Input.ConfirmPassword" class="form-control" />
                                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn-primary btn-block">Crear Cuenta</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
